<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" scroll-y="true">
  <ion-searchbar
    [(ngModel)]="search"
    (ionChange)="handleChange($event.target.value)"
    [debounce]="500"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let product of productSvc.allObs() | async" [routerLink]="['/product', product.sku]">
      <ion-thumbnail slot="start">
        <img [src]="product.image"
             [alt]="product.name">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{product.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
