<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" scroll-y="true">
  <ion-card *ngIf="product">
    <ion-row>
      <ion-col size="12">
        <img [src]="product.image" [alt]="product.name">
      </ion-col>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        {{product.name}}
        <ion-chip color="primary">{{product.model}}</ion-chip>
      </ion-card-title>
      <p>{{product.description}}</p>
      <ion-row>
        <ion-col size="6">
          <ion-chip (click)="handleAmount(10)" color="primary">$10</ion-chip>
          <ion-chip (click)="handleAmount(100)" color="primary">$100</ion-chip>
        </ion-col>
        <ion-col size="6">
          <ion-chip (click)="handleQuantity(5)" color="primary">5 qty</ion-chip>
          <ion-chip (click)="handleQuantity(10)" color="primary">10 qty</ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Amount, $</ion-label>
            <ion-input
              (ionChange)="handleAmount(+$event.target.value)"
              [(ngModel)]="amount" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Quantity</ion-label>
            <ion-input
              (ionChange)="handleQuantity(+$event.target.value)"
              [(ngModel)]="quantity" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
